<hr>
<% @profile.offers.each do |offer| %>
  <div class="mb-3">
    <%= "offer number: #{offer.id}" %><br>
    <%= "description: #{offer.description}"%><br>
    <%= "category: #{offer.category}"%><br>
    <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <%= link_to "Edit", edit_offer_path(offer.id), class:"btn btn-secondary btn-lg"%>
  <%= link_to "Delete", offer_path(offer), class:"btn btn-secondary btn-lg", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <hr>
<% end %>
