<div class="profile-card">
  <div class="img-card" style="background-image: url('<%= cl_image_path(profile.photo.key) if @profile.photo.attached? %>');">
  </div>
    <div class="div"></div>
    <div class="profile-description">
      <div class="name">
        <div class="name-title"><%= profile.first_name %></div>
      <p class="p"><%= profile.bio %></p>
    </div>
</div>
    <div class="d-flex justify-content-between position-absolute">
      <%= simple_form_for @match, data: { swipe_target: "dislikeForm" },  html: { class: 'd-none' } do |f| %>
        <%= f.input :profile, as: :hidden, input_html: { value: profile.id } %>
        <%= f.input :form, as: :hidden, input_html: { value: "dislike" }%>
        <%= f.submit %>
      <% end %>
      <%= simple_form_for @match, data: { swipe_target: "likeForm" },  html: { class: 'd-none' } do |f| %>
        <%= f.input :profile, as: :hidden, input_html: { value: profile.id } %>
        <%= f.input :form, as: :hidden, input_html: { value: "like" }%>
        <%= f.submit %>
      <% end %>
    </div>
</div>
