<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.input :email %>
  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.button :submit, class: "btn-flat" %>
<% end %>

<%= render "devise/shared/links" %>
