   <%# header %>

<% if params[:controller] == "matches" && params[:action] == "show" %>
  <% initiator_profile = Profile.find_by(id: @match.initiator_id) %>
  <% creator_profile = Profile.find_by(id: @match.creator_id) %>
  <% correspondent_profile = current_user.id == @match.initiator_id ? creator_profile : initiator_profile %>

  <div class="header_chat">
    <%= link_to matches_path do %>
      <div class="option"><i class="fa-sharp fa-solid fa-arrow-left"></i></div>
    <% end %>
    <h3 class="navbar-name" style="margin-bottom: 0"><%= correspondent_profile.first_name %></h3>

    <%= link_to profile_path(correspondent_profile) do %>
      <%= cl_image_tag(correspondent_profile.photo.key, class: "profile-pic-messages") %>
    <% end %>
  </div>

<% elsif params[:controller] == "matches" && params[:action] == "index" %>

  <div class="header">
      <%= link_to profiles_path do %>
        <div class="option"><i class="fa-sharp fa-solid fa-arrow-left"></i></div>
      <% end %>
     <h3>Your Matches</h3>
    <i class="fa-arrow-left gone"></i>
  </div>

  <% elsif params[:controller] == "profiles" && params[:action] == "search" %>

  <div class="header">
      <%= link_to profiles_path do %>
        <div class="option"><i class="fa-sharp fa-solid fa-arrow-left"></i></div>
      <% end %>
      <h3>Filter your Search</h3>
      <i class="fa-arrow-left gone"></i>
  </div>

  <% elsif params[:controller] == "offers" && params[:action] == "new" %>

    <div class="header">
      <%= link_to profiles_path do %>
        <div class="option"><i class="fa-sharp fa-solid fa-arrow-left"></i></div>
      <% end %>
      <h3>Create an offer</h3>
      <i class="fa-arrow-left gone"></i>
  </div>


  <% elsif params[:controller] == "profiles" && params[:action] == "show" && @profile.user.id == current_user.id %>
    <div class="header">
     <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <div class="option"><i class="fa-solid fa-arrow-right-from-bracket fa-flip-horizontal"></i></div>
      <% end %>

      <%= link_to matches_path do %>
      <div class="option"><i class="fa-solid fa-comments"></i></div>
      <% end %>
  </div>
-----------
<% else %>

  <div class="header">
    <%= link_to search_path do %>
      <div class="option"><i class="fa-solid fa-sliders fa-lg"></i></div>
    <% end %>

    <%= link_to matches_path do %>
      <div class="option"><i class="fa-solid fa-comments fa-lg"></i></div>
    <% end %>
  </div>

<% end %>
