   <%# header %>
<% if params[:controller] == "matches" && params[:action] == "show" %>

  <div class="header">
    <%= link_to matches_path do %>
      <div class="option"><i class="fa-sharp fa-solid fa-arrow-left"></i></div>
    <% end %>
  </div>

<% elsif params[:controller] == "matches" && params[:action] == "index" %>

  <div class="header">
      <%= link_to profiles_path do %>
        <div class="option"><i class="fa-sharp fa-solid fa-arrow-left"></i></div>
      <% end %>
      <h3 class="matches-h">Your Matches</h3>
  </div>

  <% elsif params[:controller] == "profiles" && params[:action] == "search" %>

  <div class="header">
      <%= link_to profiles_path do %>
        <div class="option"><i class="fa-sharp fa-solid fa-arrow-left"></i></div>
      <% end %>
      <h3>Filter your Search</h3>
  </div>

<% else %>

  <div class="header">
    <%= link_to search_path do %>
      <div class="option"><i class="fa-solid fa-sliders fa-lg"></i></div>
    <% end %>

    <%= link_to matches_path do %>
      <div class="option"><i class="fa-solid fa-comments fa-lg"></i></div>
    <% end %>
  </div>

<% end %>
