<div class="matches-container">
  <h1 class="matches-title">Your matches</h1>

  <% @accepted_matches.each do |match| %>
    <% correspondent = match.initiator.user == current_user ? match.creator : match.initiator %>
    <div class="match-item">
      <div class="match-background"></div>
      <div class="profile-image">
        <%= cl_image_tag(correspondent.photo.key, class: "profile-pic") %>
      </div>
      <div class="profile-details">
        <div class="profile-name">
          <%= correspondent.first_name %>
        </div>
        <% correspondent.offers.each do |offer| %>
          <div class="offer-category">
            <%= offer.category %>
          </div>
        <% end %>

        <% latest_message = match.messages.order(created_at: :desc).first %>
        <% if latest_message.present? %>
          <div class="latest-message">
            <%= latest_message.content %>
          </div>
        <% else %>
          <div class="no-message">
            No messages yet.
          </div>
        <% end %>

        <div class="icon-background"></div>
        <div class="comment-icon">
          <%= link_to match_path(match), class: 'my-link-class' do %>
            <i class="fas fa-comment"></i>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
</div>
