<% current_profile = Profile.find_by(user_id: current_user.id) %>
<% if current_profile.id == @match.initiator_id || current_profile.id == @match.creator_id %>
    <% initiator_profile = Profile.find_by(id: @match.initiator_id) %>
    <% creator_profile = Profile.find_by(id: @match.creator_id) %>

    <% correspondent_profile = current_user.id == @match.initiator_id ? creator_profile : initiator_profile %>

      <div class="container_chatroom"
        data-controller="match-subscription"
        data-match-subscription-match-id-value="<%= @match.id %>"
        data-match-subscription-current-user-id-value="<%= current_user.id %>">
        <div class="messages" data-match-subscription-target="messages">
          <% @match.messages.each do |message| %>
            <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
              <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                <%= render "messages/message", message: message %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="message-form">
          <%= simple_form_for [@match, @message],
            html: { data: { action: "turbo:submit-end->match-subscription#resetForm" },
            class: "d-flex"} do |f|
            %>
            <%= f.input :content,
              label: false,
              placeholder: "write your message",
              wrapper_html: {class: "flex-grow-1 chatInput", width: "100%", padding: "6px 12px"}
            %>
            <%= f.submit "Send", class: "btn-send mb-3 padd" %>

          <% end %>
        </div>
    </div>
<% else %>
  <p>Access denied</p>
<% end %>
