<% if @offers.nil? %>
<p> You dont have any offers</p>
<% else %>
  <% @offers.each do |offer|  %>
<div class="skill-card" style="background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 8.85%,
    rgba(255, 255, 255, 0) 47.4%,
    rgba(0, 0, 0, 0.4) 88.02%
    ), url('<%= cl_image_path(offer.photo.key) %>');">
  <div class="skill-description">
    <div class="text-wrapper"><%= offer.category %></div>
    <p class="p"> <%= offer.description %>
    </p>
  </div>
</div>
  <%= link_to "Edit", edit_offer_path(offer.id), class:"btn btn-secondary btn-lg"%>
  <%= link_to "Delete", offer_path(offer), class:"btn btn-secondary btn-lg", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% end %>
<% end %>
<% end %>
