<!DOCTYPE html>
<html>
  <head>
    <title>SkillSwap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <br>
    <div class="container col-6">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>

  </body>
</html>
